<%= form_with(model: [:admin, @label], local: true) do |f| %>
    <div class="label_content">
        <%= f.label :content %>
        <%= f.text_field :content %>
        <%= f.submit %>
    </div>
<% end %>