/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 .wrapper {
    margin-left: 16px;
    font-size: 16px;
 }

 footer {
     color: gray;
     padding-left: 18px;
     margin-top: 20px;
 }
 table {
    text-align: center;
    min-width: 700px;
    height: 100px;
    padding: 450px;
 }
 table th {
     text-align: center;
 }
 label {
     color: #222;
 }